@page
@model DHL.Pages.Locations.IndexModel
@{
    ViewData["Title"] = "Locations";
}

<h2>Locations</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var location in Model.Locations)
        {
            <tr>
                <td>@location.Id</td>
                <td>@location.Name</td>
                <td>@location.Address</td>
            </tr>
        }
    </tbody>
</table>
